<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Ruta</title>
</head>
<body>
    <h1>Seleccionar Ruta</h1>

    <form method="post" action="/seleccionar-ruta">
        <select name="origen" id="origen">
            {% for estacion in estaciones %}
                <option value="{{ estacion }}">{{ estacion }}</option>
            {% endfor %}
        </select>
        
        <select name="destino" id="destino">
            {% for estacion in estaciones %}
                <option value="{{ estacion }}">{{ estacion }}</option>
            {% endfor %}
        </select>

        <button type="submit">Calcular Ruta</button>
    </form>
</body>
</html>
