<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Recorrido</title>
</head>
<body>
    <h1>Seleccionar Recorrido</h1>
    <form method="post" action="/seleccionar-recorrido">
        <label for="origen">Estación de Origen:</label>
        <select name="origen" id="origen">
            {% for estacion in estaciones %}
                <option value="{{ estacion }}">{{ estacion }}</option>
            {% endfor %}
        </select>
        
        <select name="destino" id="destino">
            {% for estacion in estaciones %}
                <option value="{{ estacion }}">{{ estacion }}</option>
            {% endfor %}
        </select>

        <button type="submit">Buscar Recorrido</button>
    </form>
</body>
</html>
